.main-body{
  margin: 0;
  padding-top: 50px;
   background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  
}

.nav-item{
  font-size: 17px;
}
.navbar-brand-me-auto{
  font-size: 30px;
  color: rgb(255, 255, 255); 
  font-family:Fantasy,papyrus;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.navbar-toggler-icon {
  filter: invert(1);  /* inverts black to white */
}
canvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
body {
    
      background: #0b53d9;
      background: black;
      height: 1000px;
   
    }
.dp{
  position:fixed;
  width: 400px;
  height: 400px;
  z-index: 1;
  margin-left: 100px;
  position: sticky;
  background:url("dp.jpeg")center/cover no-repeat;
  background-size: contain;  
  background-position: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 50%;
}
 
/* profile pic */
#pp{
    border: 0px solid white;
     background-attachment: fixed;
}



#particles {
  position: fixed;   /* Stays full screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;        /* Background layer */
}

#sticky-dp{
  display: flex;
  scrollbar-width: none;
}

/*Name and tag */
#name-tag{
 text-align: center;
 color: white;
 margin-bottom: 500px;
padding-top: 200px;
 justify-content: center;
}

#ntag1{
  color: rgb(255, 255, 255);
  
}




/* About section */
#about-section{
  margin-top: 200px;
  padding-top: 100px;
  text-align: center;
  color: white;
   margin-bottom: 300px;
}

.right-section{
   flex: 1;
      padding: 50px;
      overflow-y: auto; /* enables scrolling */
      height: 100vh;
      scrollbar-width: none;
}


/* Project section */
#Project{
  position: relative;
  color: rgb(255, 255, 255);

  margin-top: 100px;
  align-content: center;
  text-align: center;
}
.cc{
  display: flex;
    align-content: center;
  width: 100%;
  justify-content: center;
}

/* From Uiverse.io by Tiagoadag */ 
.card {
 width: 230px;
 height: 300px;
 background-image: linear-gradient(200deg, #ff00fb 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
 margin: 100px;
 
}

.card2 {
 width: 230px;
 height: 300px;
 padding: 20px;
 background-color: #1a1a1a;
 border-radius:  20px;;
 transition: all .2s;
 font-size: 13px;
}

.card2:hover {
 transform: scale(0.98);
 border-radius: 20px;
}

.card:hover {
 box-shadow: 0px 0px 30px 1px rgba(153, 0, 255, 0.3);
}

/* Skill */

#skill{
  
  padding-top: 100px;
  text-align: center;
  color: white;
  
}


    .skill-container {
      max-width: 500px;
      margin: 20px auto;
    }

    .skill {
      margin-bottom: 20px;
    }

    .skill-name {
      margin-bottom: 5px;
      font-weight: bold;
    }

    .progress-bar {
      width: 100%;
      background: #ffffff;
      border-radius: 20px;
      overflow: hidden;
      height: 20px;
    }

    .progress {
      height: 100%;
      text-align: right;
      padding-right: 5px;
      line-height: 20px;
      color: #fff;
      border-radius: 20px;
    }

    .html { width: 95%; background: #39fcff; }   /* Orange for HTML */
    .python { width: 90%; background: #17ffff; } /* Blue for Python */
    .mysql { width: 95%; background: #15ebff; }  /* Teal for MySQL */
    .c { width: 100%; background: #16fbff; }  /* Teal for MySQL */
    .java { width: 50%; background: #0dffef; }  /* Teal for MySQL */
    .css { width: 95%; background: #13ffef; }  /* Teal for MySQL */
    .js { width: 60%; background: #06f3ff; }  /* Teal for MySQL */
 
 
#Contact{
  text-align:center;
  height: 500px;
  margin-top: 100px;
  width: 100%;
 display: flex;
    justify-content: center;  /* Horizontal center */
    align-items: center;      /* Vertical center */
    min-height: 100vh;   
}
#contact-form{
  color: white;
}
/* From Uiverse.io by DavidTM96 */ 
.form {
  display: flex;
  color: white;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  background-color: #0a192f;
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #d064ff;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #db64ff;
  font-weight: bold;
  outline: 1px solid #db64ff;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #1c0137;
  color: #ffffff;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #a264ff 0%, #bc64ff 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(201, 100, 255, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

/* FOOTER SECTION */

footer{
  color: white;
  text-align: center;
  font-style: fantasy;
  padding-top: 20px;
}
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
